<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" type="text/css" href="/css/demo-styling.css">

      <!-- Start SmartBanner configuration -->
      <meta name="smartbanner:title" content="Poste IT">
      <meta name="smartbanner:author" content="SmartBanner Contributors">
      <meta name="smartbanner:price" content="FREE">
      <meta name="smartbanner:price-suffix-apple" content=" - On the App Store">
      <meta name="smartbanner:price-suffix-google" content=" - In Google Play">
      <meta name="smartbanner:icon-apple" content="posteID.webp">
      <meta name="smartbanner:icon-google" content="posteID.webp">
      <meta name="smartbanner:button" content="VIEW">
      <!-- <meta name="smartbanner:button-url-apple" content="https://apps.apple.com/it/app/posteid/id649492675"> -->
      <meta name="smartbanner:button-url-apple" content="https://apps.apple.com/it/app/facebook/id284882215">
      <meta name="smartbanner:button-url-google" content="https://play.google.com/store/apps/details?id=posteitaliane.posteapp.appposteid">
      <meta name="smartbanner:enabled-platforms" content="android,ios">
      <meta name="smartbanner:close-label" content="Close">
      <!-- End SmartBanner configuration -->


      <link rel="stylesheet" href="css/smartbanner.min.css">
      <script src="smartbanner.min.js"></script>
    
  
  {{ $title := print .Site.Title " | " .Title }}
  {{ if .IsHome }}{{ $title = .Site.Title }}{{ end }}
  <title>{{ $title }}</title>
</head>


